# OS
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Editors
.vscode/
.idea/
*.swp
*.swo

# Logs / temp
*.log
*.tmp

# Env & secrets
.env
.env.*
*.pem
*.key

# Node
node_modules/
dist/
build/
npm-debug.log*

# Python
__pycache__/
*.py[cod]
.venv/
venv/
